
# This file contains a configuration for the X5SA printer.
#
# See docs/Config_Reference.md for a description of parameters.
#
# To build the firmware, use the following configuration:
#   - Micro-controller: Huada Semiconductor HC32F460
#   - Communication interface: Serial (PA15 & PA9)
#   - You need to set up correct offset for bootloader! It's not yet implemented in Klipper menuconfig configuration. Offset should be 0x010000
#
# Installation:
#  1. Rename the klipper bin to `firmware.bin` and copy it to an SD Card.
#  2. Power off the Printer, insert the SD Card and power it on.
#  3. The printer should beep several times before and after flashing


[include macros.cfg]
[include slot.cfg]
[include common.cfg]
[include TEST_Speed.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_45001A000F50415833323520-if00
restart_method: command

[printer]
kinematics: corexy#cartesian
max_velocity: 500
max_accel: 7000
square_corner_velocity: 5.0  # Set the desired value here
max_z_velocity: 75#dung25
max_z_accel: 200

[input_shaper]
shaper_freq_x: 44
shaper_freq_y: 44
shaper_type: mzv


[filament_switch_sensor my_filament_sensor]
switch_pin: ^!PC13
#pin pullup: True   # Uncomment if your sensor requires a pull-up resistor
pause_on_runout: True
runout_gcode: PAUSE
insert_gcode: RESUME
#debounce_ms: 100


#[stepper_x]
#step_pin: PB13
#dir_pin: !PB12
#enable_pin: !PB14
#microsteps: 16
#rotation_distance: 40
##step_distance: .0125
#endstop_pin: !PC0
#position_endstop: 0
#position_max: 330
#homing_speed: 50

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: !PC0
position_endstop: 353 #dung0
position_min: -3
position_max: 355
homing_speed: 100

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 1.1#dung0.580
stealthchop_threshold: 999999


#[stepper_y]
#step_pin: PB10
#dir_pin: !PB2
#enable_pin: !PB11
#microsteps: 16
#rotation_distance: 40
##step_distance: .0125
#endstop_pin: !PC1
#position_endstop: 0
#position_max: 330
#homing_speed: 50

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: !PC1
position_endstop: 330 #dung-29
position_min: -44
position_max: 331
homing_speed: 100

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 1.1#dung 0.580
stealthchop_threshold: 999999

[homing_override]
axes: xyz
set_position_z: 0
gcode:
  G1 Z10 F600
  G28 Y
  G28 X
  G1 X0 Y-40 F9000
  G28 Z
  G1 Z10 F1000

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 4
endstop_pin: ^!PC2

#dung endstop_pin: probe:z_virtual_endstop  # Use the probe as the Z endstop
position_min: -1 # Allow Z to move below the bed level to account for negative offset
#position_endstop: -1
position_max: 415

#[safe_z_home]
#home_xy_position: 150, 150  # Replace X and Y with your desired homing position
#speed: 150               # Speed for XY movement
#z_hop: 10               # Raise the Z axis by this amount before homing
#z_hop_speed: 150         # Speed for Z axis movement

[probe]
pin: !PA1           # Replace PA1 with the correct pin for your probe
x_offset: -45      # X offset from the nozzle to the probe
y_offset: 0         # Y offset from the nozzle to the probe
#z_offset: 0# Z offset from the nozzle to the probe, fine-tune this value
speed: 8      # Speed at which the probe moves
samples: 3          # Number of samples to take for each probe
sample_retract_dist: 3.0  # Distance to retract between each sample
samples_result: average  # Use the average of the samples for the probe result
#sample_count_tolerance: 0.1  # Tolerance for sample results

[bed_mesh]
speed = 170
horizontal_move_z = 5
mesh_min = 30, 30
mesh_max = 300, 300
probe_count = 5, 5
algorithm = bicubic
fade_start = 1
fade_end = 10
fade_target = 0

[bed_screws]
screw1 = 5,5
screw2 = 165,5
screw3 = 325,5
screw4 = 5,325
screw5 = 165,325
screw6 = 325,325

[screws_tilt_adjust]
screw1 = 60, 30
screw1_name = front left screw
screw2 = 203, 30
screw2_name = front middle screw
screw3 = 335, 30
screw3_name = front right screw
screw4 = 60, 315
screw4_name = rear left screw
screw5 = 203, 315
screw5_name = rear middle screw
screw6 = 335, 315
screw6_name = rear right screw
horizontal_move_z = 20.
speed = 150.
screw_thread = CW-M3


[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD1
#step_pin: PA15
#dir_pin: !PB3
#enable_pin: !PA14
microsteps: 16
rotation_distance: 4.637
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_cross_section: 1

heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 280

[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[heater_fan heatbreak_cooling_fan]
pin: PC7

[heater_fan controller_fan]
pin: PB15

[fan]
pin: PC6

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.002500, -0.019583, -0.037083, -0.078333, -0.021250
#*# 	0.050833, 0.058333, 0.043333, -0.007500, -0.100000
#*# 	0.050000, 0.042083, 0.033750, -0.020000, -0.118750
#*# 	0.023750, 0.031667, 0.017500, -0.033750, -0.156667
#*# 	0.012917, 0.010417, -0.005833, -0.046250, -0.107917
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 300.0
#*# min_y = 30.0
#*# max_y = 300.0
#*#
#*# [probe]
#*# z_offset = 2.405
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 26.833
#*# pid_ki = 1.844
#*# pid_kd = 97.604
#*#
#*# [stepper_z]
#*# position_endstop = 0.150
