#####################################################################
# MCU & Printer Base Settings
#####################################################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_45001A000F50415833323520-if00
restart_method: command

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 7000
square_corner_velocity: 5.0
max_z_velocity: 75
max_z_accel: 200

[include mainsail.cfg]
[include macros.cfg]
[include slot.cfg]
[include common.cfg]
[include TEST_Speed.cfg]
[include EBBcan.cfg]
[include shell_command.cfg]
[include ktc/base/*.cfg]
[include ktc/optional_rrf_compability/*.cfg]

[ktc]
[gcode_arcs]
resolution: 1.0

[input_shaper]
shaper_freq_x: 44
shaper_freq_y: 44
shaper_type: mzv

#####################################################################
# Stepper Configuration
#####################################################################

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
homing_retract_dist: 0
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: -33
position_min: -33
position_max: 388
homing_speed: 40

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 1.1
stealthchop_threshold: 999999
sense_resistor: 0.110
diag_pin: PC0
driver_SGTHRS: 100

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
homing_retract_dist: 0
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 341
position_min: -43
position_max: 341
homing_speed: 30

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 1.1
stealthchop_threshold: 999999
sense_resistor: 0.110
diag_pin: PC1
driver_SGTHRS: 80

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 4
endstop_pin: ^!PC2
position_min: 0
position_max: 415
position_endstop: -0.225

[tmc2209 stepper_z]
uart_pin: PD4 
run_current: 0.8

#####################################################################
# Toolhead, Bed & Sensors
#####################################################################

[ktc_tool 0]
tool_number: 0
heater: extruder
fans: partfan_t0
params_park: 198, 50, 0
params_park_x: 198
params_park_y: 50
params_park_z: 0

[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD1
microsteps: 16
rotation_distance: 4.637
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_cross_section: 1
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
min_temp: 0
max_temp: 280
control: pid
pid_Kp: 26.833
pid_Ki: 1.844
pid_Kd: 97.604

[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
min_temp: 0
max_temp: 130
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182

[probe]
pin: ^EBBCan:PB8
x_offset: 0
y_offset: 0
z_offset: 2.405
speed: 5

[temperature_sensor EBBCan]
sensor_type: temperature_mcu
sensor_mcu: EBBCan
min_temp: 0
max_temp: 100

[filament_switch_sensor my_filament_sensor]
switch_pin: ^!PC13
pause_on_runout: True
runout_gcode: PAUSE
insert_gcode: RESUME

#####################################################################
# Fans & Servos
#####################################################################

[heater_fan heatbreak_cooling_fan]
pin: PC7

[heater_fan controller_fan]
pin: PB15

[fan_generic partfan_t0]
pin: PC6

[servo my_servo]
pin: PA8
maximum_servo_angle: 180
minimum_pulse_width: 0.0005
maximum_pulse_width: 0.0025

[servo ebb_servo]
pin: EBBCan:PB6
maximum_servo_angle: 180
minimum_pulse_width: 0.0005
maximum_pulse_width: 0.0025
initial_angle: 0

#####################################################################
# Bed Mesh & Leveling
#####################################################################

[bed_mesh]
speed: 170
horizontal_move_z: 5
mesh_min: 30, 30
mesh_max: 300, 300
probe_count: 5, 5
algorithm: bicubic

[bed_screws]
screw1: 5,5
screw2: 165,5
screw3: 325,5
screw4: 5,325
screw5: 165,325
screw6: 325,325

[screws_tilt_adjust]
screw1: 60, 30
screw1_name: front left screw
screw2: 203, 30
screw2_name: front middle screw
screw3: 335, 30
screw3_name: front right screw
screw4: 60, 315
screw4_name: rear left screw
screw5: 203, 315
screw5_name: rear middle screw
screw6: 335, 315
screw6_name: rear right screw
horizontal_move_z: 20.
speed: 150.
screw_thread: CW-M3

#####################################################################
# Homing Overrides
#####################################################################

[homing_override]
axes: xyz
set_position_z: 0
gcode:
    G91
    G1 Z10 F2200
    G90
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT=0.9
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT=0.9
    G28 X
    G91
    G1 X10 F3000
    G90
    M400
    G4 P500
    G28 Y
    G4 P1000
    G28 Z
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT=1.1
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT=1.1
    SAFE_SEEK_PROBE

[gcode_macro MESSAGE_ECHO]
gcode:
    {% set text = params.TEXT|default("") %}
    { action_respond_info(text) }