#####################################################################
# MCU & CANbus Configuration
#####################################################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_45001A000F50415833323520-if00 

[mcu EBBCan]
canbus_uuid: b33aeef36a93

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 3000
max_z_velocity: 15
max_z_accel: 100

#####################################################################
# Stepper Configuration
#####################################################################

[stepper_x]
step_pin: PE3
dir_pin: PE2
enable_pin: !PE4
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 0
position_max: 300
homing_speed: 40
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: PD5
diag_pin: PA15
run_current: 1.1
stealthchop_threshold: 999999
driver_SGTHRS: 100      

[stepper_y]
step_pin: PE0
dir_pin: PB9
enable_pin: !PE1
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 310
position_max: 310
homing_speed: 40
homing_retract_dist: 0

[tmc2209 stepper_y]
uart_pin: PD7
diag_pin: PA14
run_current: 1.1
stealthchop_threshold: 999999
driver_SGTHRS: 100

[stepper_z]
step_pin: PB5
dir_pin: PB4
enable_pin: !PB8      
microsteps: 16
rotation_distance: 8
endstop_pin: PC2        
position_endstop: 0
position_max: 400
position_min: -5        

[tmc2209 stepper_z]
uart_pin: PD4
run_current: 0.8
stealthchop_threshold: 999999

#####################################################################
# Toolhead & Bed Configuration
#####################################################################

[extruder]
step_pin: EBBCan: PD0
dir_pin: !EBBCan: PD1
enable_pin: !EBBCan: PD2
microsteps: 16
rotation_distance: 33.500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan: PB13
sensor_type: Generic 3950
sensor_pin: EBBCan: PA3
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 280

[heater_bed]
heater_pin: PA1
sensor_pin: PC1
sensor_type: Generic 3950
control: watermark
min_temp: 0
max_temp: 120

[probe]
pin: ^EBBCan:PB8
x_offset: 0
y_offset: 0
z_offset: 0     
speed: 5
samples: 1

#####################################################################
# Homing & Macros
#####################################################################

[homing_override]
axes: xyz
set_position_z: 0
gcode:
    G91
    G1 Z20 F2200           
    G90

    # Sensorless Homing Prep
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT=0.7
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT=0.7
    
    G28 X                 
    G91
    G1 X10 F3000          
    G90
    M400                  
    
    G28 Y
    G4 P1000

    G28 Z
    
    # Restore Run Current
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT=1.1
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT=1.1

[respond]

[gcode_macro MESSAGE_ECHO]
gcode:
    {% set text = params.TEXT|default("") %}
    RESPOND MSG="{text}"